<eos-container header="Group Size">
  <p class="muted">Optional: If left blank no time estimate will be included</p>
  <input
    type="text"
    ng-model="effect.groupSize"
    class="form-control"
    name="groupSize"
    placeholder="The size of each group"
    replace-variables
    menu-position="under"
  />
</eos-container>
<eos-container header="Group Time" pad-top="true">
  <p class="muted">Optional: If left blank no time estimate will be included</p>
  <input
    type="text"
    ng-model="effect.groupTime"
    class="form-control"
    name="groupTime"
    placeholder="Roughly how long between groups"
    replace-variables
    menu-position="under"
  />
</eos-container>
