<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>FireBot Queue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <script src="./index.ts"></script>
  </head>
  <body>
    <header>
      <h1 class="mx-auto my-4">FireBot Queue Manager</h1>
    </header>
    <main class="m-4">
      <section>
        <h2>Queues</h2>
        <select id="queue_selector" disabled>
          <option>Select a Queue to Manage</option>
        </select>
      </section>
      <section id="queue_area" class="hidden">
        <h2></h2>
      </section>
    </main>
  </body>
</html>
